<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read Events from Web</title>
</head>
<body>
<h2>Read Events from Web</h2>
<form action="/events" th:object="${source}" method="POST">
    <table border="0">
        <tr>
            <td>Root url</td>
            <td><label>
                <input type="text" th:field="*{rootUrl}"/>
            </label></td>
        </tr>
        <tr>
            <td>News suffix</td>
            <td><label>
                <input type="text" th:field="*{newsSuffix}"/>
            </label></td>
        </tr>
        <tr>
            <td>Class name</td>
            <td><label>
                <input type="text" th:field="*{className}"/>
            </label></td>
        </tr>
    </table>
    <input type="submit" value="Get event" />
</form>
</body>
</html>